<!DOCTYPE html>
<html>
  <head>
    <title>Duse</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
     <style>
       .copyright {
         position: relstive;
         top: 10px;
         left: 10px;
       }
     </style>
  </head>
  
  <body>
    <!-- Logo -->
    <div class = "container">
      <div class="px-4 pt-5 my-5 text-center pt-0 mt-0 pb-0 mb-0">
      <h1 class="display-4 fw-bold text-body-emphasis">DUSE</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Unleash Your Inner Shopaholic Demon!</p>
      </div>
      <div class="overflow-hidden" style="max-height: 70vh;">
        <div class="container px-5" >
          <img src="https://f56b5e93-24f9-46ae-9791-060009824fdd-00-2mbbnuu9blv2l.spock.repl.co/static/Banner_Women.jpg" alt="Woman Holding Shopping bags" width="700" height="500" >
        </div>
      </div>
    </div>
    </div>
    <!-- About -->
    <div class="container">
    <div class="px-4 py-5 my-5 text-center pt-0 ">
      <h1 class="display-5 fw-bold text-body-emphasis">About</h1>
      <div class="col-lg-6 mx-auto" >
        <p class="lead mb-4">DUSE is more than just a shopping app; it's your ultimate destination for discovering, and buying a wide range of products effortlessly. DUSE provides you with a seamless platform to explore, purchase, and showcase your favorite items.

        At DUSE, we're committed to revolutionizing the way you shop and sell online. Join our community today and let's make shopping and entrepreneurship a truly rewarding experience together.</p>
        
      </div>
    </div>
    </div>
    
    <!-- <div>
    <p>{{items}}</p>
    </div> -->
    
    <!-- Clothing -->
    <div class = "container">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 text-center mr-0 pr-0">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <a href="{{ url_for('clothing') }}">
           <img src="https://f56b5e93-24f9-46ae-9791-060009824fdd-00-2mbbnuu9blv2l.spock.repl.co/static/Dress.jpg"
            width="250" height="250" />
          </a>
        </div>
        <h3 class="fs-2 text-body-emphasis">Clothing</h3>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="https://f56b5e93-24f9-46ae-9791-060009824fdd-00-2mbbnuu9blv2l.spock.repl.co/static/Shoes.jpg"
            width="250" height="250" />
        </div>
        <h3 class="fs-2 text-body-emphasis">Shoes</h3>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="https://f56b5e93-24f9-46ae-9791-060009824fdd-00-2mbbnuu9blv2l.spock.repl.co/static/Accesories.jpg"
            width="250" height="250"  />
        </div>
        <h3 class="fs-2 text-body-emphasis">Accesories</h3>
      </div>
    </div>
    </div>

    <!-- To-do : Bootstarp  -->
    <div class = "container">
      <div class="d-flex gap-2 justify-content-center py-3">
      <button class="btn btn-outline-secondary d-inline-flex align-items-center" type="button">
        Contact Us
      </button>
      </div>
      <div class="copyright">
        <!-- <p class="mb-3 text-body-secondary align-items-center">Copyright 2024, Duse</p> -->
        <p class="text-center mt-0 pt-0 text-body-secondary">© 2024 Duse, Inc</p>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>